.profile {
  display: flex;
  gap: 30px;
  padding: 30px 60px;
  margin: 100px auto 0;
  min-height: calc(100vh - 80px);
  max-width: 100%;
}

.profile__content {
  flex: 1;
  font-family: "Cormorant Garamond", Times, serif;
  margin-left: 310px;
}

.profile__signout-button {
  border-style: none;
  background-color: #ffba49;
  color: #23001e;
}

.profile__liked-songs {
  color: white;
}

.profile__liked-songs-header {
  font-family: "Cormorant Garamond", Times, serif;
  font-size: 50px;
  color: #fff;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    padding: 30px;
  }

  .profile__content {
    width: 100%;
    margin-left: 0;
    margin-top: 450px;
  }
}
