.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main__headline {
  font-size: 100px;
  font-family: "Cormorant Garamond", Times, serif;
  color: white;
  font-weight: 500;
  padding: 250px 0 0;
  margin: 0;
}

.main__headline_mood {
  color: #23001e;
  font-style: italic;
  font-weight: 700;
}

.main__subheading {
  font-family: "Cormorant Garamond", Times, serif;
  font-size: 50px;
  color: white;
  font-weight: 500;
  padding: 12px 0;
  margin: 0;
}

.main__text {
  font-family: "Cormorant Garamond", Times, serif;
  color: white;
  font-size: 35px;
  margin: 0;
  margin-right: 10px;
}

.main__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  position: relative;
}

.main__input-row {
  display: flex;
  align-items: center;
}

.main__input {
  font-size: 35px;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  color: white;
  outline: none;
}

.main__keywords-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.main__keyword-delete {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
  padding: 0;
  opacity: 0.8;
  transition: opacity 0.2s;
  margin-left: 5px;
  vertical-align: middle;
}

.main__keyword {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: #23001e;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 24px;
}

.main__suggestion-item {
  margin: 0;
  padding-top: 5px;
  font-family: "Cormorant Garamond", Times, serif;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.main__limit-message {
  font-family: "Cormorant Garamond", Times, serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  margin: 0;
  padding: 5px 10px;
  font-style: italic;
}
