.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  font-size: 25px;
  line-height: 27px;
  font-family: "Cormorant Garamond", Times, serif;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: transparent;
}

.navigation__logo {
  height: 25px;
  object-fit: contain;
  margin-right: 100px;
}

.navigation__right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  padding-right: 60px;
}

.navigation__nav {
  display: flex;
  gap: 25px;
  align-items: right;
}

.navigation__link {
  text-decoration: none;
  color: white;
}

.navigation__auth-buttons {
  display: flex;
  gap: 10px;
}

.navigation__signup,
.navigation__login {
  padding: 8px 20px;
  border: none;
  font-style: italic;
  background-color: transparent;
  color: #23001e;
  font-size: 25px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.navigation__signup:hover,
.navigation__login:hover {
  opacity: 0.6;
}

.navigation__user_info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.navigation__avatar,
.navigation__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navigation__avatar-placeholder {
  background-color: #ef5b5b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #23001e;
  font-weight: bold;
}
