@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

:root {
  background-color: #ef5b5b;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
