@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

:root {
  background: linear-gradient(115deg, #ef5b5b, #700161);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
